.header-container {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-style: oblique;
  padding: 20px;
}
.store {
    cursor: pointer;
}

img{
    cursor: pointer;
}

.cart {
  width: 32px; /* Adjust size as needed */
  height: 32px;
  border-radius: 20%;
}
